[Unit]
Description=Backup Machi Service MariaDB database
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/opt/machi-service/current/deploy/rocky/backup-database.sh
